@import url('fonts.css');
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* this is because the image doesnt take up 100% height of the div, so we gotta cheat code somehow bru */
.manual-height{
    height: 98.5%;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
  }

.form-btn{@apply px-5 py-3 rounded-sm font-headingSecondary bg-blue-tertiary focus:outline-none focus:ring-2 focus:ring-blue-primary focus:ring-opacity-50;}
.form-btn-service{@apply px-3 py-2 bg-transparent border-4 rounded-md border-blue-primary font-headingSecondary focus:outline-none focus:ring-2 focus:ring-blue-primary focus:border-opacity-0 focus:ring-opacity-50;}
.number-input{@apply block w-16 mt-1 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-blue-primary focus:ring-opacity-50 sm:text-sm;}
@tailwind utilities;
