@import url('fonts.css');
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* this is because the image doesnt take up 100% height of the div, so we gotta cheat code somehow bru */
.manual-height{
    height: 98.5%;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
  }

@tailwind utilities;
